@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700)
@import './constants/_colors'
@import './constants/_flex-setup'
@import './constants/_navbar'
 
.main-content
    display: flex
    flex-direction: column
    flex: 1
    background: $my-black

    .top-side
        background-image: url(../../images/starter.png)
        background-position: 50% 46.5%
        background-repeat: no-repeat
        background-size: cover
        display: flex
        justify-content: center
        align-items: center
        height: 30vh
        
        h1
            background: $gradient
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            color: whitesmoke
            text-transform: uppercase
            font-size: 3rem

    .middle-side
        display: flex
        flex-direction: row

        .side-one
            flex: 1
            background-image: url(../../images/gtr.png)
            background-position: center
            background-repeat: no-repeat
            background-size: cover
            opacity: 0.7
            display: flex
            justify-content: center
            align-items: center

            h3
                background: $gradient
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                margin-bottom: 11em
                text-transform: uppercase

        .side-two
            flex: 2
            padding: 5rem
            background-image: url(../../images/bg1.png)
            background-position: center
            background-repeat: no-repeat
            background-size: cover
            display: flex
            height: 50vh
            justify-content: center
            align-items: center
            
            p
                font-size: larger
                color: whitesmoke
                text-align: center
    
    .bottom-side
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        background: white

        .contact-info
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column

            img
                box-shadow: 4px 5px 5px black

            form
                width: 80%

            h3
                text-transform: uppercase
                text-align: center

            input
                background: none
                border: 2px solid black
                padding: 10px
                width: 100%
                outline: none
                margin: 10px 0

            .name-and-email
                display: flex
                justify-content: center
                flex-direction: column
                width: 95.75%

                input
                    width: 100%

            .subject-input
                width: 95.75%

            .message-input
                border: 2px solid black
                padding: 10px
                display: block
                width: 95.75%

            .send-button
                display: block
                text-align: center
                margin: 0 10px
                margin-top: 10px
                margin-bottom: 10px
                background: $my-black
                color: white
                border: none
                padding: 10px
                width: 95.75%

        .about-info
            address
                border: 1px solid black
                padding: 20px
                margin: 20px 0
                text-align: center

@import './constants/_footer'

@media screen and (max-width: 1000px)
    .main-content
        .middle-side
            flex-direction: column
        
        .bottom-side
            img
                width: 100%