body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #4fa0b6 0%, #ea4f4c 100%); }

.navigation-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  background-color: #222;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  color: #ea4f4c;
  text-transform: uppercase;
  overflow: hidden; }
  @media (max-width: 500px) {
    .navigation-wrapper {
      display: none; } }

.logo-wrapper {
  margin: 20px;
  display: flex; }
  .logo-wrapper .stylish {
    font-weight: bold; }
  .logo-wrapper .logo {
    padding-left: 4px;
    color: #4fa0b6; }

.navigation {
  margin: 20px;
  display: flex;
  list-style-type: none; }
  .navigation .parent {
    opacity: 1;
    list-style-type: none;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: 0 10px;
    cursor: pointer; }
    .navigation .parent .link {
      position: relative;
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      color: #ea4f4c; }
      .navigation .parent .link:hover {
        color: #a74332; }
    .navigation .parent ul {
      display: none; }
    .navigation .parent .type-vehicles {
      display: block; }
